.container {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.dropdown select {
  padding: 0.25rem 1rem 0.25rem 0;
  margin-left: 0.5rem;
  width: 150px;
  font-size: 1rem;
}
